alembic==1.11.1
flake8==6.0.0
greenlet==2.0.2
importlib-metadata==6.8.0
importlib-resources==6.0.0
Mako==1.2.4
MarkupSafe==2.1.3
mccabe==0.7.0
mypy==1.3.0
mypy-extensions==1.0.0
pycodestyle==2.10.0
pyflakes==3.0.1
SQLAlchemy==2.0.16
sqlalchemy-stubs==0.4
tomli==2.0.1
typing_extensions==4.6.3
zipp==3.16.0
